// fonts
$font-family-sans: "DM Sans";
$font-weight-normal: 400;
$font-weight-bold: 700;

// colors
// -primary
$clr-primary-1: hsl(10deg 79% 65%);
$clr-primary-2: hsl(186deg 34% 60%);

// -neutral
$clr-neutral-1: hsl(25deg 47% 15%);
$clr-neutral-2: hsl(28deg 10% 53%);
$clr-neutral-3: hsl(27deg 66% 92%);
$clr-neutral-4: hsl(33deg 100% 98%);
