.page-title {
    display: grid;
    gap: var(--page-title-gap);
    &__label, &__amount {
        line-height: 1;
        color: var(--clr-neutral-4);
        font-weight: var(--font-weight-bold);
    }
    &__label {
        margin: 0;
        padding: 0;
        font-size: inherit;
    }

    &__amount {
        font-size: var(--font-size-title);
        padding: 0;
    }
}
