@use "../abstract/mixins" as *;

.summary {
    border-top: 2px solid var(--clr-neutral-2);
    margin-inline: var(--body-wrapper-inner-padding-inline);
    padding-block: var(--summary-padding-block);
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    align-items: end;
    line-height: 1;

    &__label, &__amount {
        margin: 0;
        padding: 0;
    }

    &__label {
        font-size: inherit;
        color: var(--clr-neutral-2);
    }

    &__amount {
        font-size: var(--font-size-summary-amount);
        font-weight: var(--font-weight-bold);
    }

    &__total, &__relative {
        display: grid;
    }

    &__total {
        padding-block-start: 23px ;
        padding-block-end: 3px;
        gap: 10px;
        align-self: start;
    }

    &__relative {
        gap: var(--summary-relative-gap);
        padding-block-end: var(--summary-relative-padding-block-end);
        text-align: end;
        align-self: end;
    }

    &__relative &__amount {
        font-size: inherit;
    }
}
